.container {
  font-family: "Gilroy", sans-serif;
  color: #333333; }

.crumbs-body {
  padding-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  min-height: 74px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 529px) {
    .crumbs-body {
      padding-top: 15px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media (max-width: 444px) {
    .crumbs-body {
      padding-bottom: 20px; } }
  .crumbs-body__link {
    color: #86afef;
    border-bottom: 1px solid #86afef;
    max-height: 20px;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s; }
    @media (max-width: 444px) {
      .crumbs-body__link {
        margin-bottom: 20px; } }
  .crumbs-body__link:hover {
    color: #f6bd60;
    border-bottom: 1px solid #f6bd60;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .crumbs-body__hyphen {
    border-bottom: 1px solid #7d7d7d;
    color: #7d7d7d;
    max-height: 20px;
    padding: 0px 6px; }
    @media (max-width: 444px) {
      .crumbs-body__hyphen {
        margin-bottom: 20px; } }
  .crumbs-body__paragraph {
    color: #7d7d7d;
    border-bottom: 1px solid #7d7d7d;
    color: #7d7d7d;
    max-height: 20px; }

.attestation-body {
  background-image: url("../img/Group_8.jpg");
  min-height: 376px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1152px) {
    .attestation-body {
      background-image: url("../img/Group9.jpg"); } }
  @media (max-width: 818px) {
    .attestation-body {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }
  @media (max-width: 396px) {
    .attestation-body {
      min-width: 300px; } }
  .attestation-body .part-1 {
    margin: 41px 0px 0px 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 282px;
    min-width: 181px;
    text-align: center; }
    @media (max-width: 818px) {
      .attestation-body .part-1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin: 0 auto;
        min-height: 280px; } }
    @media (max-width: 396px) {
      .attestation-body .part-1 {
        margin-top: 20px; } }
    .attestation-body .part-1__price {
      font-size: calc(14px + (15 - 14) * (100vw / 1140)); }
    .attestation-body .part-1__container {
      font-size: 36px;
      font-size: calc(20px + (36 - 20) * (100vw / 1140));
      font-family: "Gilroy-Bold", sans-serif;
      color: #87b0ee;
      border-bottom: 2px solid #87b0ee;
      min-width: 128px; }
    .attestation-body .part-1__sum {
      margin: 0 auto; }
    .attestation-body .part-1__registration {
      font-size: calc(14px + (15 - 14) * (100vw / 1140)); }
    .attestation-body .part-1__term {
      font-size: calc(14px + (15 - 14) * (100vw / 1140)); }
    .attestation-body .part-1__one-year {
      font-size: calc(14px + (15 - 14) * (100vw / 1140)); }
    .attestation-body .part-1__two-year {
      font-size: calc(14px + (15 - 14) * (100vw / 1140)); }
  .attestation-body .header-bottom__link {
    margin-top: 0px; }
  .attestation-body .header-bottom__click {
    height: 50px !important; }
  .attestation-body .part-2 {
    margin: 71px 0px 0px 89px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-height: 191px;
    min-width: 480px; }
    @media (max-width: 818px) {
      .attestation-body .part-2 {
        margin: 0 auto;
        margin-bottom: 35px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media (max-width: 528px) {
      .attestation-body .part-2 {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        max-width: 280px; } }
    @media (max-width: 420px) {
      .attestation-body .part-2 {
        margin-bottom: 47px; } }
    @media (max-width: 396px) {
      .attestation-body .part-2 {
        max-width: 300px; } }
    .attestation-body .part-2__heading {
      font-family: "Gilroy-Heavy", sans-serif;
      color: #333333;
      line-height: 48px;
      font-size: calc(25px + (40 - 25) * (100vw / 1140));
      max-width: 480px; }
      @media (max-width: 818px) {
        .attestation-body .part-2__heading {
          text-align: center;
          margin-bottom: 15px; } }
    .attestation-body .part-2__text {
      font-size: calc(16px + (17 - 16) * (100vw / 1140));
      line-height: 25px;
      max-width: 480px; }
    @media (max-width: 818px) {
      .attestation-body .part-2 {
        text-align: center; } }
    @media (max-width: 528px) {
      .attestation-body .part-2 {
        min-width: 380px; } }
    @media (max-width: 396px) {
      .attestation-body .part-2 {
        min-width: 280px; } }

.education-text {
  height: calc(500px + (494 - 500) * (100vw / 1140));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 992px) {
    .education-text {
      height: calc(600px + (610 - 600) * (100vw / 1140)); } }
  @media (max-width: 610px) {
    .education-text {
      height: calc(700px + (730 - 700) * (100vw / 1140)); } }
  @media (max-width: 510px) {
    .education-text {
      height: calc(770px + (790 - 770) * (100vw / 1140)); } }
  @media (max-width: 489px) {
    .education-text {
      height: calc(840px + (850 - 840) * (100vw / 1140)); } }
  @media (max-width: 424px) {
    .education-text {
      height: calc(910px + (920 - 910) * (100vw / 1140)); } }
  @media (max-width: 411px) {
    .education-text {
      height: calc(960px + (970 - 960) * (100vw / 1140)); } }
  @media (max-width: 368px) {
    .education-text {
      height: calc(1060px + (1070 - 1060) * (100vw / 1140)); } }
  .education-text__text {
    font-size: calc(16px + (18 - 16) * (100vw / 1140));
    line-height: 23px;
    line-height: 28px; }
  .education-text__text-1 {
    margin-top: 31px; }
  .education-text__heading-1 {
    font-size: calc(19px + (24 - 19) * (100vw / 1140));
    font-family: "Gilroy-Bold", sans-serif; }
  .education-text__heading-2 {
    font-size: calc(17px + (19 - 17) * (100vw / 1140));
    font-family: "Gilroy-Bold", sans-serif; }

.education-points {
  margin-bottom: 71px;
  min-height: 109px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 1152px) {
    .education-points {
      min-height: 140px; } }
  @media (max-width: 992px) {
    .education-points {
      min-height: 160px; } }
  @media (max-width: 582px) {
    .education-points {
      min-height: 190px; } }
  @media (max-width: 555px) {
    .education-points {
      min-height: 220px; } }
  @media (max-width: 470px) {
    .education-points {
      min-height: 250px; } }
  @media (max-width: 365px) {
    .education-points {
      min-height: 290px; } }

.points-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 55px; }
  @media (max-width: 505px) {
    .points-container {
      padding-left: 21px; } }
  .points-container__img {
    max-width: 9px;
    max-height: 9px;
    margin-right: 14px;
    margin-top: 4px; }
  .points-container__text {
    font-size: calc(16px + (18 - 16) * (100vw / 1140));
    line-height: 21px; }

.about {
  background-color: #f6f6f6;
  max-width: 100%; }
  .about__cards {
    height: 350px;
    max-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 1152px) {
      .about__cards {
        height: 570px; } }
    @media (max-width: 505px) {
      .about__cards {
        height: 1080px;
        padding-bottom: 20px; } }
  .about__card {
    height: 248px;
    min-width: 243px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  @media (max-width: 505px) {
    .about__card:first-child {
      margin-top: 20px; } }
  .about__icon {
    border-radius: 50%;
    background-color: white;
    border: 1px solid #e8e8e8;
    height: 98px;
    min-width: 98px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
  .about__icon-shape1 {
    font-size: 48px;
    color: #86adef;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .about__icon-favorites {
    font-size: 52px;
    color: #86adef;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .about__icon-file {
    font-size: 55px;
    color: #86adef;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .about__icon-delivery {
    font-size: 28px;
    color: #86adef;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center; }
  .about__heading {
    font-size: 22px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    line-height: 27px;
    font-size: calc(13px + (22 - 13) * (100vw / 1140)); }
  .about__text {
    font-size: 17px;
    line-height: 25px;
    font-family: "Gilroy-Medium", sans-serif;
    font-size: calc(13px + (17 - 13) * (100vw / 1140)); }

.about-body {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.heading-cards {
  font-size: calc(25px + (36 - 25) * (100vw / 1140));
  max-width: 100%;
  text-align: center;
  font-family: "Gilroy-Heavy", sans-serif;
  padding-top: 44px; }

.certificate {
  background-image: url("../img/Group_11.jpg");
  min-height: 513px;
  background-position: 0 0;
  background-size: 100% auto; }

.heading-certificate {
  font-size: calc(30px + (40 - 30) * (100vw / 1140));
  font-family: "Gilroy-Heavy", sans-serif;
  color: #ffffff;
  padding-top: 62px; }

.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 375px;
  padding-top: 36px; }
  @media (max-width: 1153px) {
    .form__body {
      min-height: 430px; } }
  @media (max-width: 998px) {
    .form__body {
      min-height: 460px; } }

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-height: 93px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  max-width: 360px; }
  @media (max-width: 1153px) {
    .form__item {
      max-width: 300px; } }
  @media (max-width: 992px) {
    .form__item {
      max-width: 240px; } }
  @media (max-width: 769px) {
    .form__item {
      min-width: 100%;
      margin: 15px 0px; } }

.form__item-adress {
  max-width: none; }
  @media (max-width: 536px) {
    .form__item-adress {
      display: none; } }

.form__item-adress-new {
  display: none; }
  @media (max-width: 536px) {
    .form__item-adress-new {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

@media (max-width: 992px) {
  .form__item-email {
    margin-right: 405px; } }

.form__label {
  padding-bottom: 13px;
  font-size: calc(15px + (17 - 15) * (100vw / 1140));
  font-family: "Gilroy-Regular", sans-serif;
  color: #516c9a; }

.form__input {
  min-width: 360px;
  min-height: 46px;
  border-radius: 3px;
  font-size: 14px;
  color: #7b7b7b;
  font-family: "Gilroy-Regular", sans-serif;
  padding-left: 9px; }
  @media (max-width: 1153px) {
    .form__input {
      min-width: 300px; } }
  @media (max-width: 992px) {
    .form__input {
      min-width: 240px; } }

.form__input-number {
  min-width: 164px; }
  @media (max-width: 769px) {
    .form__input-number {
      min-width: 50%; } }

.form__input-email {
  min-width: 164px; }
  @media (max-width: 769px) {
    .form__input-email {
      min-width: 50%; } }

.form__input-adress {
  min-width: 555px; }
  @media (max-width: 769px) {
    .form__input-adress {
      min-width: 50%; } }

.container-form-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 769px) {
    .container-form-1 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.container-form-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #678bc7;
  padding-bottom: 35px; }
  @media (max-width: 769px) {
    .container-form-2 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.container-form-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px; }
  @media (max-width: 1153px) {
    .container-form-3 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 20px; } }
  @media (max-width: 998px) {
    .container-form-3 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 0px; } }
  @media (max-width: 769px) {
    .container-form-3 {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 20px; } }

@media (max-width: 1153px) {
  .button-bell-container-form {
    margin-top: 20px; } }

@media (max-width: 537px) {
  .button-bell-container-form {
    max-width: 100%; } }

.button-bell-link-form {
  min-height: 46px !important;
  border-radius: 4px; }
  @media (max-width: 411px) {
    .button-bell-link-form {
      padding-top: 0px; } }

.button-bell-link-form__click-form {
  min-height: 46px;
  min-width: 164px !important;
  font-size: 15px; }

.button-bell-link-form {
  min-height: 46px; }

.container-email-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
