header {
	background-image: url("../img/Group_6.jpg");
	max-width: 100%;
	background-position: center 50%;
	color: #333333;
	display: block;
}

@media (max-width: 767px) {
	header {
		background-image: url("/img/Group new.jpg");
		height: 600px;
	}
}

@media (max-width: 528px) {
	header {
		background-color: #b3c9ff;
	}
}

@media (max-width: 411px) {
	header {
		height: 655px;
	}
}

@media (max-width: 356px) {
	header {
		height: 695px;
	}
}

.header-body {
	margin-top: 0px;
	height: 724px;
}

.header-top {
	margin-top: 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	color: black;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border: none;
	height: 94px;
}

@media (max-width: 1152px) {
	.header-top {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}

@media (max-width: 992px) {
	.header-top {
		height: 110px;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

@media (max-width: 528px) {
	.header-top {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		height: 170px;
	}
}

@media (max-width: 411px) {
	.header-top {
		height: 230px;
	}
}

.logo-about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	min-width: 363px;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	border: none;
	height: 42px;
}

@media (max-width: 528px) {
	.logo-about {
		margin: 0 auto;
		min-width: 160px;
	}
}

.logo-about__logo {
	font-family: "Gilroy-Bold", sans-serif;
	color: #e1e1e1;
	height: 40px;
	line-height: 0.75;
	font-size: calc(45px + (52 - 45) * (100vw / 1140));
	margin-right: 26px;
	padding-right: 26px;
	border-right: 2px solid #86afef;
	text-align: center;
}

@media (max-width: 396px) {
	.logo-about__logo {
		border-bottom: none;
		border-right: 2px solid #86afef;
	}
}

.logo-about__about {
	padding-right: 0px;
	border-right: 0px;
	font-family: "Gilroy-Medium", sans-serif;
	font-size: 14px;
	color: #5d5d5d;
	min-width: 198px;
	height: 40px;
	margin: 0 auto;
	font-size: calc(9px + (14 - 9) * (100vw / 1140));
}

.icons-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (max-width: 528px) {
	.icons-container {
		margin: 0 auto;
	}
}

.icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-width: 168px;
}

@media (max-width: 570px) {
	.icons {
		min-width: 130px;
	}
}

@media (max-width: 528px) {
	.icons {
		margin: 10px 0px;
		min-width: 168px;
	}
}

.icons__icon-whatsapp {
	color: white;
	border: none;
	font-size: 18px;
	border-radius: 50%;
	background-color: #2dd038;
	min-width: 43px;
	height: 43px;
	text-align: center;
	line-height: 47px;
	font-size: calc(10px + (18 - 10) * (100vw / 1140));
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

@media (max-width: 992px) {
	.icons__icon-whatsapp {
		font-size: 17px;
		min-width: 40px;
		height: 40px;
		line-height: 44px;
	}
}

@media (max-width: 767px) {
	.icons__icon-whatsapp {
		font-size: 16px;
	}
}

@media (max-width: 396px) {
	.icons__icon-whatsapp {
		font-size: 15px;
	}
}

.icons__icon-whatsapp:hover {
	-webkit-box-shadow: 0px 8px 14px rgba(45, 208, 56, 0.5);
	box-shadow: 0px 8px 14px rgba(45, 208, 56, 0.5);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.icons__icon-viber {
	color: #86afef;
	font-size: 19px;
	color: white;
	border: none;
	border-radius: 50%;
	background-color: #7b519d;
	min-width: 43px;
	height: 43px;
	text-align: center;
	line-height: 47px;
	font-size: calc(17px + (19 - 17) * (100vw / 1140));
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

@media (max-width: 992px) {
	.icons__icon-viber {
		font-size: 18px;
		min-width: 40px;
		height: 40px;
		line-height: 44px;
	}
}

@media (max-width: 767px) {
	.icons__icon-viber {
		font-size: 17px;
	}
}

@media (max-width: 396px) {
	.icons__icon-viber {
		font-size: 16px;
	}
}

.icons__icon-viber:hover {
	-webkit-box-shadow: 0px 8px 14px rgba(123, 81, 157, 0.5);
	box-shadow: 0px 8px 14px rgba(123, 81, 157, 0.5);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.icons__icon-telegram {
	font-size: 16px;
	color: white;
	border: none;
	border-radius: 50%;
	background-color: #5bbaf0;
	min-width: 43px;
	height: 43px;
	text-align: center;
	line-height: 47px;
	font-size: calc(14px + (16 - 14) * (100vw / 1140));
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

@media (max-width: 992px) {
	.icons__icon-telegram {
		font-size: 15px;
		min-width: 40px;
		height: 40px;
		line-height: 44px;
	}
}

@media (max-width: 767px) {
	.icons__icon-telegram {
		font-size: 14px;
	}
}

@media (max-width: 396px) {
	.icons__icon-telegram {
		font-size: 13px;
	}
}

.icons__icon-telegram:hover {
	-webkit-box-shadow: 0px 8px 14px rgba(91, 186, 240, 0.5);
	box-shadow: 0px 8px 14px rgba(91, 186, 240, 0.5);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.number-email-button-bell {
	min-width: 416px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 1152px) {
	.number-email-button-bell {
		margin: 0 auto;
	}
}

@media (max-width: 992px) {
	.number-email-button-bell {
		margin: 0 auto;
		min-width: 100%;
	}
}

@media (max-width: 767px) {
	.number-email-button-bell {
		margin: 0 auto;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (max-width: 411px) {
	.number-email-button-bell {
		height: 110px;
	}
}

.number-email {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: none;
	min-width: 195px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

@media (max-width: 410px) {
	.number-email {
		max-width: 100%;
		margin: 0 auto;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.number-email__number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.number-email__number-picture {
	line-height: 1.8;
	font-size: 14px;
	height: 16px;
	color: #86afef;
}

.number-email__telephone-number {
	font-size: 20px;
	font-family: "Gilroy-Bold", sans-serif;
}

.number-email__email {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@media (max-width: 411px) {
	.number-email__email {
		max-width: 100%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
}

.number-email__email-picture {
	font-size: 11px;
	line-height: 1.8;
	color: #86afef;
	padding-left: 28px;
}

@media (max-width: 411px) {
	.number-email__email-picture {
		padding-right: 14px;
		padding-left: 0px;
	}
}

.number-email__link-email {
	font-size: 17px;
	font-family: "Gilroy-Medium", sans-serif;
}

.button-bell-container-1 {
	max-width: 195px;
}

@media (max-width: 411px) {
	.button-bell-container-1 {
		min-width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.button-bell-container-3 {
	max-width: 211px;
	max-height: 50px;
}

@media (max-width: 411px) {
	.button-bell-container-3 {
		min-width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.button-bell-container-3__link {
	max-height: 50px;
}

.button-bell-container-3__click {
	max-width: 211px !important;
}

.button-bell-link {
	max-width: 100%;
}

@media (max-width: 411px) {
	.button-bell-link {
		max-width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-top: 10px;
		margin: 0 auto;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

.button-bell-link__click {
	min-width: 195px !important;
	font-size: 18px;
	background: -webkit-gradient(linear, left top, right bottom, from(#f6bd60), to(#e88952));
	background: linear-gradient(to bottom right, #f6bd60, #e88952);
	color: white;
	border-radius: 3px;
	height: 44px !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: "Gilroy-Bold", sans-serif;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

@media (max-width: 992px) {
	.button-bell-link__click {
		min-width: 170px !important;
		height: 39px !important;
		font-size: 16px;
	}
}

@media (max-width: 411px) {
	.button-bell-link__click {
		max-width: 100%;
	}
}

.button-bell-link__click:hover {
	-webkit-box-shadow: 0px 8px 14px rgba(232, 137, 82, 0.5);
	box-shadow: 0px 8px 14px rgba(232, 137, 82, 0.5);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

.header__burger {
	display: none;
}

.header__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 2;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header__list li {
	list-style: none;
	margin: 0px 0px 0px 0px;
}

@media (max-width: 992px) {
	.header__list li {
		margin: 0px 0px 0px 20px;
	}
}

.header__link {
	text-transform: uppercase;
	text-decoration: none;
	color: #333333;
	font-family: "Gilroy-Medium", sans-serif;
	font-size: calc(10px + (15 - 10) * (100vw / 1140));
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.header__link:hover {
	color: #6d81cc;
	font-weight: 500;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: end;
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 40px;
		flex: 0 0 40px;
	}
	.header__burger {
		margin-top: 20px;
		display: block;
		position: relative;
		width: 50px;
		height: 20px;
		z-index: 3;
	}
	.header__burger span {
		position: absolute;
		background-color: #333333;
		position: absolute;
		left: 0;
		width: 100%;
		height: 5px;
		top: 8px;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #5bbaf0;
		position: absolute;
		width: 100%;
		height: 5px;
		left: 0;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
		background-color: #333333;
	}
	.header__burger:after {
		bottom: 0;
		background-color: #333333;
	}
	.header__burger.active span {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	.header__burger.active:before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		-webkit-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		background-color: #86adef;
		padding: 70px 10px 20px 10px;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		font-size: 24px;
	}
}

.header-bottom {
	margin-top: 63px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 290px;
}

@media (max-width: 767px) {
	.header-bottom {
		margin-top: 40px;
	}
}

@media (max-width: 528px) {
	.header-bottom {
		margin-top: 30px;
		height: 260px;
	}
}

@media (max-width: 494px) {
	.header-bottom {
		height: 300px;
		margin-top: 20px;
		text-align: center;
	}
}

@media (max-width: 411px) {
	.header-bottom {
		margin-top: 15px;
	}
}

.header-bottom__heading {
	font-family: "Gilroy-Heavy", sans-serif;
	line-height: 50px;
	font-size: calc(20px + (40 - 20) * (100vw / 1140));
}

.header-bottom__text {
	font-family: "Gilroy-Medium", sans-serif;
	font-size: calc(20px + (24 - 20) * (100vw / 1140));
}

.header-bottom__link {
	max-width: 100%;
}

@media (max-width: 411px) {
	.header-bottom__link {
		max-width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-top: 10px;
		margin: 0 auto;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@media (max-width: 356px) {
	.header-bottom__link {
		margin-top: 30px;
	}
}

.header-bottom__click {
	max-width: 195px !important;
	font-size: 18px;
	background: -webkit-gradient(linear, left top, right bottom, from(#87aff1), to(#6c80cb));
	background: linear-gradient(to bottom right, #87aff1, #6c80cb);
	color: white;
	border-radius: 3px;
	height: 44px !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-family: "Gilroy-Bold", sans-serif;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

@media (max-width: 992px) {
	.header-bottom__click {
		min-width: 170px !important;
		height: 39px !important;
		font-size: 16px;
	}
}

@media (max-width: 494px) {
	.header-bottom__click {
		margin: 0 auto;
	}
}

@media (max-width: 411px) {
	.header-bottom__click {
		max-width: 100%;
	}
}

.header-bottom__click:hover {
	-webkit-box-shadow: 0px 8px 14px rgba(108, 128, 203, 0.5);
	box-shadow: 0px 8px 14px rgba(108, 128, 203, 0.5);
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}

.heading-question {
	font-size: 36px;
	font-family: "Gilroy-Heavy", sans-serif;
	text-align: center;
	padding-top: 195px;
	font-size: calc(20px + (36 - 20) * (100vw / 1140));
}

@media (max-width: 992px) {
	.heading-question {
		padding-top: 168px;
	}
}

@media (max-width: 767px) {
	.heading-question {
		padding-top: 70px;
	}
}

@media (max-width: 528px) {
	.heading-question {
		padding-top: 50px;
	}
}

@media (max-width: 494px) {
	.heading-question {
		padding-top: 20px;
	}
}

@media (max-width: 356px) {
	.heading-question {
		padding-top: 60px;
	}
}
