.content-body {
	display: flex;
	justify-content: space-around;
}

.cards {
	margin-top: 48px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
	column-gap: 32px;
	row-gap: 29px;
	margin-bottom: 30px;
	// .cards__card

	@media (max-width: 1152px) {
		column-gap: 88px;
		row-gap: 29px;
	}
	@media (max-width: 992px) {
		column-gap: 40px;
	}
	@media (max-width: 740px) {
		column-gap: 70px;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		margin-bottom: 24px;
	}
	@media (max-width: 415px) {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		margin-top: 60px;
	}

	&__card {
		border: 1px solid#F2F2F2;
		max-width: 262px;
		box-shadow: 0px 2px 19px 1px rgb(242, 242, 242);
		height: 189px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		transition-duration: 1s;
		@media (max-width: 992px) {
			display: none;
			height: 250px;
			min-width: 350px;
		}
		@media (max-width: 740px) {
			max-width: 100%;
			margin: 0 auto;
			height: calc(180px + (250 - 180) * (100vw / 1140));
		}
		@media (max-width: 415px) {
			min-width: 250px;
			margin: none;
		}

		&_active {
			justify-content: center;
			@media (max-width: 992px) {
				display: flex;
				height: 250px;
				max-width: 350px;
			}
			@media (max-width: 740px) {
				max-width: 100%;
				margin: 0 auto;
				height: calc(180px + (250 - 180) * (100vw / 1140));
			}
			@media (max-width: 415px) {
				min-width: 250px;
				margin: none;
			}
		}
	}

	&__card:hover {
		box-shadow: 0px 7px 18px 10px rgb(242, 242, 242);
		cursor: pointer;
		transition-duration: 0.5s;
	}

	// .cards__icon

	&__icon {
		color: #86adef;
		padding-bottom: 26px;
		font-size: calc(35px + (56 - 35) * (100vw / 1140));
		@media (max-width: 992px) {
			font-size: calc(35px + (65 - 35) * (100vw / 1140));
		}
	}

	// .cards__text

	&__text {
		//font-size: 19px;
		font-family: "Gilroy", sans-serif;
		line-height: 23px;
		font-weight: 500;
		font-size: calc(13px + (19 - 13) * (100vw / 1140));
		@media (max-width: 992px) {
			line-height: 28px;
			font-size: calc(13px + (25 - 13) * (100vw / 1140));
		}
	}
}

.button-bell-container-2 {
	@media (max-width: 992px) {
		display: flex;
		width: 100%;
		margin: 0 auto;
		justify-content: center;
		margin-bottom: 30px;

		span {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.content-bottom {
	// .header-bottom__link

	&__link {
		max-width: 211px;
		display: flex;
		margin: 0 auto;
		justify-content: center;
	}

	// .header-bottom__click

	&__click {
		max-width: 195px !important;
		font-size: 18px;
		background: linear-gradient(to bottom right, #87aff1, #6c80cb);
		color: white;
		border-radius: 3px;
		height: 44px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Gilroy-Bold", sans-serif;
		display: none;
		transition-duration: 1s;
		@media (max-width: 992px) {
			min-width: 170px !important;
			height: 39px !important;
			font-size: 16px;
		}
	}
	&__click:hover {
		box-shadow: 0px 8px 14px rgba(108, 128, 203, 0.2/ 0.4);
		transition-duration: 0.5s;
	}
}

.about {
	background-color: #f6f6f6;
	max-width: 100%;

	// .about__cards

	&__cards {
		height: 350px;
		max-width: 1140px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		@media (max-width: 1152px) {
			height: 570px;
		}
		@media (max-width: 505px) {
			height: 1080px;
			padding-bottom: 20px;
		}
	}

	// .about__card

	&__card {
		height: 248px;
		min-width: 243px;
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: space-between;
	}
	&__card:first-child {
		@media (max-width: 505px) {
			margin-top: 20px;
		}
	}

	// .about__icon

	&__icon {
		border-radius: 50%;
		background-color: white;
		border: 1px solid #e8e8e8;
		height: 98px;
		min-width: 98px;
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	&__icon-shape1 {
		font-size: 48px;
		color: #86adef;
		align-self: center;
	}

	&__icon-favorites {
		font-size: 52px;
		color: #86adef;
		align-self: center;
	}
	&__icon-file {
		font-size: 55px;
		color: #86adef;
		align-self: center;
	}
	&__icon-delivery {
		font-size: 28px;
		color: #86adef;
		align-self: center;
	}

	// .about__heading

	&__heading {
		font-size: 22px;
		font-family: "Gilroy", sans-serif;
		font-weight: 700;
		line-height: 27px;
		font-size: calc(13px + (22 - 13) * (100vw / 1140));
	}

	// .about__text

	&__text {
		font-size: 17px;
		line-height: 25px;
		font-family: "Gilroy-Medium", sans-serif;
		font-size: calc(13px + (17 - 13) * (100vw / 1140));
	}
}

.about-body {
	flex-wrap: wrap;
}

.image-slider {
	// .image-slider__cards

	&__cards {
		margin-right: 0px;
		@media (max-width: 468px) {
			//max-width: 300px;
		}
	}

	// .image-slider__card

	&__card {
		text-align: center;
		min-height: 366px;
		border: 1px solid#F2F2F2;
		box-shadow: 0px 2px 19px 1px #f2f2f2;
		max-width: 265px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transition-duration: 1s;
		@media (max-width: 468px) {
			max-width: 450px;
		}
	}
	&__card:hover {
		transition-duration: 0.5s;
		box-shadow: 0px 7px 18px 10px rgb(242, 242, 242);
	}

	// .image-slider__img

	&__img {
		padding-top: 14px;
		align-self: center;
		display: block;
		max-width: 100%;
		height: auto;
	}

	// .image-slider__text

	&__text {
		font-size: 16px;
		font-family: "Gilroy", sans-serif;
		font-weight: 800;
		line-height: 22px;
		color: #333333;
	}

	// .image-slider__icon

	&__icon {
		font-size: 16px;
		display: inline-block;
		color: #53b43b;
	}

	// .image-slider__summ

	&__summ {
		font-size: 22px;
		font-family: "Gilroy", sans-serif;
		font-weight: 600;
		color: #333333;
	}

	&__text-group {
		color: #53b43b;
		display: inline-block;
		font-family: "Gilroy", sans-serif;
	}
}

.swiper-container1 {
	overflow: hidden;
	height: 420px;
	flex-shrink: 0;
	position: relative;
}
.swiper-container2 {
	overflow: hidden;
	height: 420px;
	flex-shrink: 0;
	position: relative;
	max-width: 100%;
	// display: flex;
	// justify-content: space-between;
}

.photo-body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.photo {
	position: relative;
}

.photo-slider {
	// .photo-slider__slide

	&__slide:first-child {
		margin-left: 35px;
	}

	// .photo-slider__image

	&__image {
		max-width: 223px;
		//height: 514px;
		@media (max-width: 1152px) {
		}
		@media (max-width: 700px) {
			max-width: 550px;
		}
		@media (max-width: 600px) {
			min-width: 450px;
		}
	}
}

.swiper-wrapper {
	position: absolute;
}

.image-slider .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #cdcdcd;
}
.swiper-pagination-bullet-active {
	background-color: #fff !important;
	border: 2px solid #84aaed;
}

.heading {
	font-size: 36px;
	font-family: "Gilroy-Heavy", sans-serif;
	text-align: center;
	padding-top: 0px;
	height: 153px;
	display: flex;
	justify-content: center;
	&__text {
		align-self: center;
	}
}

.heading {
	margin-top: 0 auto;
	height: 110px;
	// .heading__text

	&__text {
		font-size: calc(25px + (36 - 25) * (100vw / 1140));
	}
}
.cards-news {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media (max-width: 750px) {
		min-height: 1200px;
		flex-direction: column;
	}

	// .cards-news__card-1

	&__card-1 {
		min-width: 555px;
		min-height: 348px;
		border: 2px solid#F2F2F2;
		box-shadow: 0px 4px 19px 2px rgb(242, 242, 242);
		background-image: url("/img/fonjpg.jpg");
		background-repeat: no-repeat;
		@media (max-width: 1152px) {
			max-width: 555px;
			margin: 0 auto;
		}
		@media (max-width: 578px) {
			min-width: 100%;
			background-image: url("/img/akciya.jpg");
			margin: 0 auto;
		}
	}

	// .cards-news__heading-text

	&__heading-text {
		min-height: 200px;
		display: flex;
		flex-direction: column;
		max-width: 320px;
		padding-left: 35px;
		@media (max-width: 578px) {
			margin: 0 auto;
		}
	}

	// .cards-news__heading-1

	&__heading-1 {
		padding-top: 52px;
		font-family: "Gilroy-Bold", sans-serif;
		font-size: calc(20px + (24 - 20) * (100vw / 1140));
		line-height: 28px;
		margin-bottom: 20px;
		@media (max-width: 1152px) {
			line-height: 38px;
			font-size: calc(20px + (27 - 20) * (100vw / 1140));
		}
		@media (max-width: 341px) {
			padding-top: 20px;
		}
	}

	// .cards-news__text

	&__text-1 {
		font-family: "Gilroy-Medium", sans-serif;
		font-size: 16px;
		line-height: 22px;
		@media (max-width: 1152px) {
			font-size: 20px;
			line-height: 23px;
		}
		@media (max-width: 580px) {
			margin-right: 23px;
		}
	}

	&__text {
		font-family: "Gilroy-Medium", sans-serif;
		font-size: 16px;
		line-height: 22px;
		margin-left: 23px;
		@media (max-width: 1152px) {
			font-size: 20px;
			line-height: 23px;
			text-align: center;
		}
	}

	span {
		color: #86adef;
		display: inline-block;
	}
	// .cards-news__card

	&__card {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		height: 348px;
		max-width: 262px;
		border: 2px solid#F2F2F2;
		box-shadow: 0px 4px 19px 2px rgb(242, 242, 242);
		@media (max-width: 1152px) {
			max-width: 45%;
			margin-top: 20px;
			min-height: 380px;
			margin-left: 0px;
		}
		@media (max-width: 750px) {
			max-width: 555px;
			margin: 0 auto;
			margin-top: 0px;
		}
	}

	// .cards-news__img

	&__img {
		margin: 0 auto;
		margin-left: 23px;
		@media (max-width: 1152px) {
			margin-left: 0px;
		}
		@media (max-width: 750px) {
			width: 300px;
		}
	}

	&__image {
		@media (max-width: 1152px) {
			text-align: center;
		}
		padding-top: 20px;
	}

	// .cards-news__data

	&__data {
		font-family: "Gilroy-Medium", sans-serif;
		//font-size: 14px;
		color: #ababab;
		font-size: calc(13px + (14 - 13) * (100vw / 1140));
		margin-left: 23px;
		@media (max-width: 1152px) {
			text-align: center;
		}
		@media (max-width: 750px) {
			font-size: calc(16px + (18 - 16) * (100vw / 1140));
		}
	}

	// .cards-news__heading

	&__heading {
		font-family: "Gilroy-Bold", sans-serif;
		font-size: 19px;
		margin-left: 23px;
		@media (max-width: 1152px) {
			text-align: center;
		}
	}
	&__container {
		margin: 25px;
		height: 300px;
	}
}

.photo .swiper-button-prev::after,
.photo .swiper-button-next::after {
	color: #acacac;
	font-size: 39px;
	margin-top: 70px;
	@media (max-width: 1100px) {
		display: none;
	}
}

.all-news {
	padding-top: 47px;
	padding-bottom: 71px;
}

.all-news-body {
	display: flex;
	justify-content: center;
}

.button-news {
	&__click {
		min-width: 195px !important;
		font-size: 16px;
		background: white;
		color: #6d81cc;
		border-radius: 3px;
		height: 44px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Gilroy-Bold", sans-serif;
		border: 2px solid #6d81cc;
		transition-duration: 1s;
	}
	&__click:hover {
		background: #6d81cc;
		color: white;
		box-shadow: 0px 4px 19px 2px rgba(25, 118, 189, 0.2);
		transition-duration: 0.5s;
	}
}
