.container {
	font-family: "Gilroy", sans-serif;
	color: #333333;
}
.crumbs-body {
	padding-top: 28px;
	display: flex;
	font-size: 15px;
	min-height: 74px;
	flex-wrap: wrap;
	@media (max-width: 529px) {
		padding-top: 15px;
		justify-content: center;
	}
	@media (max-width: 444px) {
		padding-bottom: 20px;
	}

	// .crumbs-body_link

	&__link {
		color: #86afef;
		border-bottom: 1px solid #86afef;
		max-height: 20px;
		transition-duration: 1s;
		@media (max-width: 444px) {
			margin-bottom: 20px;
		}
	}

	&__link:hover {
		color: #f6bd60;
		border-bottom: 1px solid #f6bd60;
		transition-duration: 0.5s;
	}

	// .crumbs-body_hyphen

	&__hyphen {
		border-bottom: 1px solid #7d7d7d;
		color: #7d7d7d;
		max-height: 20px;
		padding: 0px 6px;
		@media (max-width: 444px) {
			margin-bottom: 20px;
		}
	}

	&__paragraph {
		color: #7d7d7d;
		border-bottom: 1px solid #7d7d7d;
		color: #7d7d7d;
		max-height: 20px;
		@media (max-width: 445px) {
			max-height: 19px;
		}
	}
}
.heading {
	font-size: 36px;
	font-family: "Gilroy-Heavy", sans-serif;
}

.number-email {
	max-width: 195px;
}

.icons-form {
	@media (max-width: 767px) {
		margin: 0 auto;
	}
	@media (max-width: 570px) {
		min-width: 168px;
	}
}

.heading-certificate {
	font-size: calc(20px + (30 - 20) * (100vw / 1140));
	font-family: "Gilroy-Heavy", sans-serif;
	color: #ffffff;
	padding-top: 31px;
	text-align: center;
	margin-bottom: 26px;
	@media (max-width: 992px) {
		font-size: calc(22px + (25 - 22) * (100vw / 1140));
	}
	@media (max-width: 767px) {
		font-size: calc(22px + (30 - 22) * (100vw / 1140));
	}
}

.form {
	display: flex;
	justify-content: center;
	// .form__body

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 362px;
	}

	// .form__item

	&__item {
		//padding-bottom: 20px;
		display: flex;
		flex-direction: column;
		max-height: 93px;
		justify-content: end;
		max-width: 360px;
		@media (max-width: 1153px) {
			max-width: 300px;
		}
		@media (max-width: 992px) {
			max-width: 240px;
		}
		@media (max-width: 769px) {
			min-width: 360px !important;
		}
		@media (max-width: 500px) {
			min-width: 240px !important;
		}
	}

	&__item-email {
		@media (max-width: 992px) {
			margin-right: 405px;
		}
	}

	// .form__label

	&__label {
		padding-bottom: 13px;
		font-size: calc(15px + (17 - 15) * (100vw / 1140));
		font-family: "Gilroy-Regular", sans-serif;
		color: #516c9a;
	}

	// .form__input

	&__input {
		min-width: 322px;
		min-height: 42px;
		border-radius: 3px;
		font-size: 14px;
		color: #7b7b7b;
		font-family: "Gilroy-Regular", sans-serif;
		padding-left: 9px;
		@media (max-width: 1153px) {
			min-width: 300px;
		}
		@media (max-width: 992px) {
			min-width: 240px;
		}
	}

	&__input-number {
		min-width: 164px;
		@media (max-width: 769px) {
			min-width: 50%;
		}
	}
	&__input-email {
		min-width: 164px;
		@media (max-width: 769px) {
			min-width: 50%;
		}
	}
	&__input-docs {
		height: 120px;
		padding-bottom: 50px;
	}
}

.forms {
	background-color: #87b0ee;
	min-width: 458px;
	min-height: 480px;
	@media (max-width: 1152px) {
	}
	@media (max-width: 992px) {
		min-width: 340px;
	}
	@media (max-width: 767px) {
		min-width: 458px;
		min-height: 480px;
		margin: 0 auto;
	}
	@media (max-width: 500px) {
		min-width: 340px;
	}
	@media (max-width: 365px) {
		min-width: 300px;
	}
}

.button-bell-container-form {
	max-width: 100% !important;
	display: flex !important;
	justify-content: center !important;
}
.button-bell-link-form {
	border-radius: 3px;
	@media (max-width: 456px) {
		padding-top: 0px;
	}
}

.button-bell-link-form__click-form {
	min-height: 42px;
	min-width: 195px !important;
	font-size: 16px;
}
.button-bell-link-form {
	min-height: 42px;
}

.container-form-1 {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 361px;
}

.contacts {
	min-height: 556px;
	background: url(../img/fon.jpg) 0 0/904px 534px no-repeat;
}

.contacts-body {
	@media (max-width: 769px) {
		padding-bottom: 50px;
	}
}
.contact-form {
	display: flex;
	justify-content: space-between;
	@media (max-width: 767px) {
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
}
.contact {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@media (max-width: 767px) {
		min-height: 500px;
		margin-bottom: 40px;
	}
}
.heading-text {
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-top: 30px;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}
.heading {
	font-size: calc(30px + (36 - 30) * (100vw / 1140));
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}
.text {
	font-size: 17px;
	font-family: "Gilroy-Medium", sans-serif;
	@media (max-width: 767px) {
		text-align: center;
	}
}
.number-email-new {
	min-height: 53px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	// .number-email__number
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}

.number-email__email-picture-new {
	padding: 0px 15px 0px 0px;
}
.number-email__email-new {
	justify-content: start !important;
	@media (max-width: 767px) {
		margin: 0 auto;
	}
}

.qr-container {
	display: flex;
	justify-content: space-between;
	min-height: 134px;
	max-width: 534px;
	@media (max-width: 992px) {
		flex-direction: column;
	}
	@media (max-width: 767px) {
		margin: 0 auto;
	}

	// .qr-container__qr

	&__qr {
		@media (max-width: 1152px) {
			max-height: 130px;
			max-width: 130px;
		}
		@media (max-width: 992px) {
			max-height: 100px;
			max-width: 100px;
		}
		@media (max-width: 767px) {
			margin: 0 auto;
		}
	}
}
.qr-heading-text {
	margin-top: 20px;
	padding-left: 33px;
	// .qr-heading-text__heading
	max-height: 75px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	@media (max-width: 1152px) {
		min-height: 100px;
		max-width: 300px;
		margin-top: 11px;
		padding-left: 20px;
	}

	@media (max-width: 992px) {
		padding-left: 0px;
	}
	@media (max-width: 456px) {
		min-height: 80px;
	}

	&__heading {
		font-size: calc(14px + (18 - 14) * (100vw / 1140));
		font-family: "Gilroy-Bold", sans-serif;
		margin-bottom: 28px;
		@media (max-width: 1152px) {
			margin-bottom: 10px;
		}
		@media (max-width: 767px) {
			text-align: center;
		}
	}

	// .qr-heading-text__text

	&__text {
		font-size: calc(12px + (16 - 12) * (100vw / 1140));
		font-family: "Gilroy-Regular", sans-serif;
		line-height: 22px;
		@media (max-width: 767px) {
			text-align: center;
		}
	}
}
