header {
	background-image: url("../img/Group_6.jpg");
	max-width: 100%;
	background-position: center 50%;
	color: #333333;
	display: block;

	@media (max-width: 767px) {
		background-image: url("../img/Group\ new.jpg");
		height: 600px;
	}
	@media (max-width: 528px) {
		background-color: #b3c9ff;
	}

	@media (max-width: 411px) {
		height: 655px;
	}
	@media (max-width: 356px) {
		height: 695px;
	}
}
.container {
}
.header-body {
	margin-top: 0px;
	height: 724px;
}
.header-top {
	margin-top: 33px;
	display: flex;
	flex-wrap: wrap;
	color: black;
	justify-content: space-between;
	border: none;
	height: 94px;
	@media (max-width: 1152px) {
		flex-wrap: nowrap;
	}
	@media (max-width: 992px) {
		height: 110px;
		flex-wrap: wrap;
	}

	@media (max-width: 528px) {
		flex-wrap: wrap;
		height: 170px;
	}

	@media (max-width: 411px) {
		height: 230px;
	}
}
.logo-about {
	display: flex;
	min-width: 363px;
	align-items: stretch;
	border: none;
	height: 42px;

	@media (max-width: 528px) {
		margin: 0 auto;
		min-width: 160px;
	}

	// .logo-about__logo

	&__logo {
		font-family: "Gilroy-Bold", sans-serif;
		color: #e1e1e1;
		height: 40px;
		line-height: 0.75;
		font-size: calc(45px + (52 - 45) * (100vw / 1140));
		margin-right: 26px;
		padding-right: 26px;
		border-right: 2px solid #86afef;
		text-align: center;

		@media (max-width: 396px) {
			border-bottom: none;
			border-right: 2px solid #86afef;
		}
	}

	// .logo-about__about

	&__about {
		padding-right: 0px;
		border-right: 0px;
		font-family: "Gilroy-Medium", sans-serif;
		font-size: 14px;
		color: #5d5d5d;
		min-width: 198px;
		height: 40px;
		margin: 0 auto;
		font-size: calc(9px + (14 - 9) * (100vw / 1140));
	}
}
.icons-container {
	display: flex;
	@media (max-width: 528px) {
		margin: 0 auto;
	}
}

.icons {
	display: flex;
	justify-content: space-between;
	min-width: 168px;

	@media (max-width: 570px) {
		min-width: 130px;
	}

	@media (max-width: 528px) {
		margin: 10px 0px;
		min-width: 168px;
	}

	// .icons__icon

	&__icon-whatsapp {
		color: white;
		border: none;
		font-size: 18px;
		border-radius: 50%;
		background-color: #2dd038;
		min-width: 43px;
		height: 43px;
		text-align: center;
		line-height: 47px;
		font-size: calc(10px + (18 - 10) * (100vw / 1140));
		transition-duration: 1s;
		@media (max-width: 992px) {
			font-size: 17px;
			min-width: 40px;
			height: 40px;
			line-height: 44px;
		}
		@media (max-width: 767px) {
			font-size: 16px;
		}
		@media (max-width: 396px) {
			font-size: 15px;
		}
	}
	&__icon-whatsapp:hover {
		box-shadow: 0px 8px 14px rgba(45, 208, 56, 0.2 / 0.4);
		transition-duration: 1s;
	}

	&__icon-viber {
		color: #86afef;
		font-size: 19px;
		color: white;
		border: none;
		border-radius: 50%;
		background-color: #7b519d;
		min-width: 43px;
		height: 43px;
		text-align: center;
		line-height: 47px;
		font-size: calc(17px + (19 - 17) * (100vw / 1140));
		transition-duration: 1s;
		@media (max-width: 992px) {
			font-size: 18px;
			min-width: 40px;
			height: 40px;
			line-height: 44px;
		}
		@media (max-width: 767px) {
			font-size: 17px;
		}
		@media (max-width: 396px) {
			font-size: 16px;
		}
	}
	&__icon-viber:hover {
		box-shadow: 0px 8px 14px rgba(123, 81, 157, 0.2 / 0.4);
		transition-duration: 1s;
	}

	&__icon-telegram {
		font-size: 16px;
		color: white;
		border: none;
		border-radius: 50%;
		background-color: #5bbaf0;
		min-width: 43px;
		height: 43px;
		text-align: center;
		line-height: 47px;
		font-size: calc(14px + (16 - 14) * (100vw / 1140));
		transition-duration: 1s;
		@media (max-width: 992px) {
			font-size: 15px;
			min-width: 40px;
			height: 40px;
			line-height: 44px;
		}
		@media (max-width: 767px) {
			font-size: 14px;
		}
		@media (max-width: 396px) {
			font-size: 13px;
		}
	}

	&__icon-telegram:hover {
		box-shadow: 0px 8px 14px rgba(91, 186, 240, 0.2/ 0.4);
		transition-duration: 1s;
	}
}

.number-email-button-bell {
	min-width: 416px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media (max-width: 1152px) {
		margin: 0 auto;
	}
	@media (max-width: 992px) {
		margin: 0 auto;
		min-width: 100%;
	}
	@media (max-width: 767px) {
		margin: 0 auto;
		justify-content: space-between;
	}
	@media (max-width: 411px) {
		height: 110px;
	}
}
.number-email {
	display: flex;
	border: none;
	min-width: 195px;
	flex-direction: column;

	@media (max-width: 410px) {
		max-width: 100%;
		margin: 0 auto;
		justify-content: center;
	}
	// .number-email__number

	&__number {
		display: flex;
		justify-content: space-between;
	}

	// .number-email__icon-number

	&__icon-number {
	}

	// .number-email__number-picture

	&__number-picture {
		line-height: 1.8;
		font-size: 14px;
		height: 16px;
		color: #86afef;
	}

	// .number-email__telephone-number

	&__telephone-number {
		font-size: 20px;
		font-family: "Gilroy-Bold", sans-serif;
	}

	// .number-email__email

	&__email {
		display: flex;
		justify-content: space-between;
		@media (max-width: 411px) {
			max-width: 100%;
			justify-content: flex-start;
		}
	}

	// .number-email__icon-email

	&__icon-email {
	}

	// .number-email__email-picture

	&__email-picture {
		font-size: 11px;
		line-height: 1.8;
		color: #86afef;
		padding-left: 28px;
		@media (max-width: 411px) {
			padding-right: 14px;
			padding-left: 0px;
		}
	}

	// .number-email__link-email

	&__link-email {
		font-size: 17px;
		font-family: "Gilroy-Medium", sans-serif;
	}
}

.button-bell-container-1 {
	max-width: 195px;
	// .button-bell__link
	@media (max-width: 411px) {
		min-width: 100%;
		display: flex;
		justify-content: center;
	}
}
.button-bell-container-3 {
	max-width: 211px;
	max-height: 50px;
	// .button-bell__link
	@media (max-width: 411px) {
		min-width: 100%;
		display: flex;
		justify-content: center;
	}
	&__link {
		max-height: 50px;
	}
	&__click {
		max-width: 211px !important;
	}
}

.button-bell-link {
	max-width: 100%;

	@media (max-width: 411px) {
		max-width: 100%;
		display: flex;
		padding-top: 10px;
		margin: 0 auto;
		justify-content: center;
	}

	&__click {
		min-width: 195px !important;
		font-size: 18px;
		background: linear-gradient(to bottom right, #f6bd60, #e88952);
		color: white;
		border-radius: 3px;
		height: 44px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Gilroy-Bold", sans-serif;
		transition-duration: 1s;
		@media (max-width: 992px) {
			min-width: 170px !important;
			height: 39px !important;
			font-size: 16px;
		}

		@media (max-width: 411px) {
			max-width: 100%;
		}
	}
	&__click:hover {
		box-shadow: 0px 8px 14px rgba(232, 137, 82, 0.2/ 0.4);
		transition-duration: 0.5s;
	}
}

.header__burger {
	display: none;
}

.header__list {
	display: flex;
	position: relative;
	z-index: 2;
	justify-content: space-between;
}
.header__list li {
	list-style: none;
	margin: 0px 0px 0px 0px;
	@media (max-width: 992px) {
		margin: 0px 0px 0px 20px;
	}
}
.header__link {
	text-transform: uppercase;
	text-decoration: none;
	color: #333333;
	font-family: "Gilroy-Medium", sans-serif;
	font-size: calc(10px + (15 - 10) * (100vw / 1140));
	transition-duration: 1s;
}
.header__link:hover {
	color: #6d81cc;
	font-weight: 500;
	transition-duration: 1s;
}
.header-container {
	display: flex;
	justify-content: end;
}

@media (max-width: 767px) {
	body.lock {
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		margin-top: 20px;
		display: block;
		position: relative;
		width: 50px;
		height: 20px;
		z-index: 3;
		//left: 688px;
	}
	.header__burger span {
		position: absolute;
		background-color: #333333;
		position: absolute;
		left: 0;
		width: 100%;
		height: 5px;
		top: 8px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after {
		content: "";
		background-color: #5bbaf0;
		position: absolute;
		width: 100%;
		height: 5px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before {
		top: 0;
		background-color: #333333;
	}
	.header__burger:after {
		bottom: 0;
		background-color: #333333;
	}

	.header__burger.active span {
		transform: scale(0);
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #86adef;
		padding: 70px 10px 20px 10px;
	}

	.header__menu.active {
		top: 0;
	}

	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		font-size: 24px;
	}
}

.header-bottom {
	// .header-bottom__heading
	margin-top: 63px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 290px;

	@media (max-width: 767px) {
		margin-top: 40px;
	}
	@media (max-width: 528px) {
		margin-top: 30px;
		height: 260px;
	}
	@media (max-width: 494px) {
		height: 300px;
		margin-top: 20px;
		text-align: center;
	}

	@media (max-width: 411px) {
		margin-top: 15px;
	}

	&__heading {
		font-family: "Gilroy-Heavy", sans-serif;
		line-height: 50px;
		font-size: calc(20px + (40 - 20) * (100vw / 1140));
	}

	// .header-bottom__text

	&__text {
		font-family: "Gilroy-Medium", sans-serif;
		font-size: calc(20px + (24 - 20) * (100vw / 1140));
	}

	// .header-bottom__button

	&__link {
		max-width: 100%;

		@media (max-width: 411px) {
			max-width: 100%;
			display: flex;
			padding-top: 10px;
			margin: 0 auto;
			justify-content: center;
		}
		@media (max-width: 356px) {
			margin-top: 30px;
		}
	}

	&__click {
		max-width: 195px !important;
		font-size: 18px;
		background: linear-gradient(to bottom right, #87aff1, #6c80cb);
		color: white;
		border-radius: 3px;
		height: 44px !important;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "Gilroy-Bold", sans-serif;
		transition-duration: 1s;
		@media (max-width: 992px) {
			min-width: 170px !important;
			height: 39px !important;
			font-size: 16px;
		}

		@media (max-width: 494px) {
			margin: 0 auto;
		}
		@media (max-width: 411px) {
			max-width: 100%;
		}
	}
	&__click:hover {
		box-shadow: 0px 8px 14px rgba(108, 128, 203, 0.2/ 0.4);
		transition-duration: 1s;
	}
}
.heading-question {
	font-size: 36px;
	font-family: "Gilroy-Heavy", sans-serif;
	text-align: center;
	padding-top: 195px;
	font-size: calc(20px + (36 - 20) * (100vw / 1140));
	@media (max-width: 992px) {
		padding-top: 168px;
	}
	@media (max-width: 767px) {
		padding-top: 70px;
	}
	@media (max-width: 528px) {
		padding-top: 50px;
	}

	@media (max-width: 494px) {
		padding-top: 20px;
	}

	@media (max-width: 356px) {
		padding-top: 60px;
	}
}
